.calendar {
  &-container {
    display: inline;
    width: 80px;
    height: 90px;
    max-height: 100px;
    text-align: center;
    border-radius: 7px;
    background: linear-gradient(145deg, #d8d8d8, #ffffff);
    box-shadow: 5px 5px 6px #bebebe, -5px -5px 6px #ffffff;
  }
  &-upper {
    height: 1.5rem;
    max-height: 45px;
    width: auto;
    background: red;
    padding: 0.25rem;
  }
  &-day {
    font-size: 2.5rem;
  }
  &-dayOfWeek {
    position: absolute;
    margin-bottom: 0;
    width: 100%;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
