@import "variables.scss";
@import "mixin.scss";

/* alphabetical sort */
@import "animation.scss";
@import "auth.scss";
@import "calendar.scss";
@import "carousel.scss";
@import "editor.scss";
@import "event.scss";
@import "event-detail.scss";
@import "feedback.scss";
@import "filter.scss";
@import "footer.scss";
@import "header.scss";
@import "hero.scss";
@import "home.scss";
@import "loading.scss";
@import "notfound.scss";
@import "order.scss";
@import "organization.scss";
@import "readmore.scss";
@import "review.scss";
@import "searchbox.scss";
@import "swipper.scss";
@import "ticket-booking.scss";
@import "user-profile.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");
* {
  font-family: "Quicksand", sans-serif !important;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*
  &::-webkit-scrollbar {
    display: none;
  }
  */
}
.button {
  width: 100%;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  background-color: white;
  border: 1px solid rgb(179, 179, 179);
}
.basic-button {
  padding: 0.5rem 1.5rem;
  border-radius: 2px;
  color: white;
  font-weight: 700;
}
.primary-button {
  width: 100%;
  padding: 0.5rem 1.5rem;
  margin: 1rem 0;
  background: linear-gradient(
    53deg,
    rgba(31, 62, 130, 1) 0%,
    rgba(0, 39, 125, 1) 100%
  ) !important;
  border-radius: 0.25rem;
  z-index: 10;
  color: white;
}

.card {
  --bg: #ffffff;
  --contrast: #e2e0e0;
  --grey: #c9cfcf;
  position: relative;
  padding: 1rem;
  background-color: var(--bg);
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-conic-gradient(
      var(--bg) 0.0000001%,
      var(--grey) 0.000104%
    )
    60% 60%/600% 600%;
  filter: opacity(10%) contrast(105%);
}

.card-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 190px;
  height: 254px;
  background-color: var(--contrast);
  border-radius: 30px;
  /* Content style */
  font-size: 30px;
  font-weight: 900;
  color: #c7c4c4;
  text-align: center;
  font-family: monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
