@import "./variables.scss";
@import "./mixin.scss";

/* alphabetical sort */
@import "./animation.scss";
@import "./auth.scss";
@import "./calendar.scss";
@import "./carousel.scss";
@import "./editor.scss";
@import "./event.scss";
@import "./event-detail.scss";
@import "./filter.scss";
@import "./footer.scss";
@import "./header.scss";
@import "./hero.scss";
@import "./home.scss";
@import "./loading.scss";
@import "./notfound.scss";
@import "./organization.scss";
@import "./readmore.scss";
@import "./searchbox.scss";
@import "./swipper.scss";
@import "./ticket-booking.scss";
@import "./user-profile.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");
* {
  font-family: SVN-Gilroy, sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*
  &::-webkit-scrollbar {
    display: none;
  }
  */
}
.button {
  width: 100%;
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  background-color: white;
  border: 1px solid rgb(179, 179, 179);
}
.primary-button {
  width: 100%;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(
    53deg,
    rgba(31, 62, 130, 1) 0%,
    rgba(0, 39, 125, 1) 100%
  ) !important;
  border-radius: 0.25rem;
  z-index: 10;
  color: white;
}

@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 400;
  src: local("SVN-Gilroy"),
    url(../assets/fonts/Gilroy/SVN-Gilroy-Regular.otf) format("opentype");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 500;
  src: local("SVN-Gilroy"),
    url(../assets/fonts/Gilroy/SVN-Gilroy-Medium.otf) format("opentype");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 600;
  src: local("SVN-Gilroy"),
    url(../assets/fonts/Gilroy/SVN-Gilroy-SemiBold.otf) format("opentype");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 700;
  src: local("SVN-Gilroy"),
    url(../assets/fonts/Gilroy/SVN-Gilroy-Bold.otf) format("opentype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;
