.organization {
  &-container {
    width: 100%;
    height: auto;
    position: relative;
    background: linear-gradient(
      53deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(65, 65, 65, 1) 100%
    );
  }
  &-profile {
    &__container {
      width: 100%;
      padding: 0 2rem;
    }
  }
  &-background {
    width: 100vw;
    height: 100vh;
    position: relative;
    &::after {
      display: block;
      background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.9612219887955182) 24%,
        rgba(0, 0, 0, 0.4234068627450981) 51%,
        rgba(252, 252, 252, 0) 100%
      );

      margin-top: -150px;
      height: 150px;
      width: 100%;
      content: "";
    }
    h1 {
      color: white;
      font-weight: 800;
      font-size: 3rem;
      width: 80%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 25%;
      margin-left: auto;
      margin-right: auto;
      z-index: 10;
      text-align: center;
      filter: drop-shadow(16px 16px 10px black);
      @include for-phone {
        font-size: 2rem !important;
      }
    }
    p {
      width: 60%;
      font-size: 1.5rem;
      color: white;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 2rem;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      filter: drop-shadow(16px 16px 10px black);
      @include for-phone {
        font-size: 1rem !important;
      }
    }
  }
  &-section-1 {
    width: 100vw;
    min-height: 35rem;
    display: flex;
    img {
      width: 50vw;
      height: 35rem;
      object-fit: cover;
      @include for-phone {
        display: none;
      }
    }
  }
  &-info-1 {
    width: calc(50vw - 2rem);
    height: auto;
    padding: 2rem;
    @include for-phone {
      width: calc(100vw - 2rem) !important;
    }
    h1 {
      color: white;
      font-size: 1.75rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 1rem 1rem;
    .item {
      display: flex;
      align-items: flex-start;
      gap: 0 1rem;
    }
  }
  &-section-2 {
    width: 100%;
    height: 20rem;
    background: #1f3e82;
    position: relative;
    overflow: hidden;
    &::before {
      position: absolute;
      top: 0;
      width: 10rem;
      height: 100%;
      content: "";
      z-index: 1;
      left: 0;
      background: linear-gradient(to right, #132f6b 0%, transparent 100%);
    }
    &::after {
      position: absolute;
      top: 0;
      width: 10rem;
      height: 100%;
      content: "";
      z-index: 1;
      right: 0;
      background: linear-gradient(to left, #132f6b 0%, transparent 100%);
    }
  }
  &-partners {
    &-title {
      color: white;
      padding-top: 1rem;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
    }
    &-content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 2rem;
      img {
        filter: brightness(0) invert(100%);
      }
    }
  }
  &-section-3 {
    width: 100%;
    height: 100vh;
    min-height: 50vh;
    display: flex;
    align-items: center;
    .vertical-line {
      width: 2px;
      height: 50vh;
      border-left: 2px solid rgb(82, 82, 82);
      @include for-phone {
        display: none;
      }
    }
  }
  &-form {
    display: block;
    width: 50vw;
    padding: 2rem;
    background-color: transparent;
    @include for-phone {
      width: 100% !important;
    }
  }
  &-register {
    &-contact {
      @include for-phone {
        display: none;
      }
    }
  }
}
/* Marquee */
.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  overflow: hidden;
  position: relative;
  &::before,
  &::after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  &-content {
    list-style: none;
    margin-top: 4rem;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: var(--marquee-element-width);
      height: auto;
      font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
      white-space: nowrap;
      img {
        height: 65%;
        width: auto;
        @include for-phone {
          height: 40% !important;
        }
      }
    }
  }
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}
.facebook,
.instagram {
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 5px;
}
.facebook:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -moz-linear-gradient(top, #3b5998, #2b4170);
  background: -ms-linear-gradient(top, #3b5998, #2b4170);
  background: -webkit-linear-gradient(top, #3b5998, #2b4170);
}
.instagram:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
