.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
  background: $primary-color !important;
}
.ant-steps-item-process .ant-steps-item-icon {
  background-color: #fff;
  border-color: $primary-color !important;
}
.ant-steps-item-finish .ant-steps-item-icon {
  background-color: #fff;
  border-color: $primary-color !important;
}

.booking {
  &-container {
    width: 100vw;
    height: 100vh;
  }
  &-top {
    width: 100%;
    min-height: 15rem;
    position: relative;
    img {
      width: 100%;
      max-height: 15rem;
      object-fit: cover;
      &::after {
        display: block;
        background-image: $primary-color;
        height: 15rem;
        width: 100%;
        content: "";
      }
    }
    h1 {
      position: absolute;
      color: white;
      font-weight: 700;
      font-size: 1.5rem;
      bottom: 2rem;
      left: 2rem;
    }
  }
}
