.user-profile {
  &-container {
    background-color: #1f3e82;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23091225' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%231F3E82' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%231e3b7c' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%231e3876' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%231d3471' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%231c316b' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%231a2e66' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23192b60' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%2318285b' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23172555' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23152250' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23141f4b' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23121c45' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23111a40' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%230f173b' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%230d1436' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%230c1131' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%230b0d2d' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%230A0828' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
  }
}
.ant-input[disabled] {
  color: black !important;
}
.profile {
  height: auto;
  width: 40vw;
  padding: 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 1px;
  position: relative;
  @include for-phone {
    width: 100% !important;
    height: 100% !important;
  }
}
.ant-image-mask {
  border-radius: 9999px !important;
}
