@import "./mixin.scss";
@import "./variables.scss";
.event {
  &-container {
    padding: 2rem;
    &-grid {
      display: grid;
      justify-content: center;
      grid-template-columns: auto auto auto;
      grid-gap: 2rem;
      @include for-phone {
        grid-template-columns: auto !important;
        grid-row-gap: 4.5rem !important;
      }
      @include for-tablet {
        grid-template-columns: auto auto !important;
      }
    }
    @include for-phone {
      padding: 1rem !important;
    }
  }
  &-pagination {
    width: 100%;
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    @include for-phone {
      margin-top: 5rem !important;
      margin-bottom: 5rem !important;
    }
  }
  &-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &-item-container {
    width: 360px;
    height: 260px;
    padding: 0.5rem;
    position: relative;
    border-radius: 0.5rem;
    background: white;
    box-shadow: 1.2px 0.9px 2.2px rgba(0, 0, 0, 0.025),
      3px 2.2px 5.3px rgba(0, 0, 0, 0.035),
      5.6px 4.1px 10px rgba(0, 0, 0, 0.043),
      10.1px 7.4px 17.9px rgba(0, 0, 0, 0.053),
      18.8px 13.8px 33.4px rgba(0, 0, 0, 0.069),
      45px 33px 80px rgba(0, 0, 0, 0.13);
    @include for-phone {
      width: 100% !important;
      height: 130% !important;
    }
  }
  &-item-category {
    display: flex;
    align-items: center;
  }
  &-category {
    cursor: pointer;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 0;
  }
  &-item-image {
    height: 130px;
    width: 360px;
    object-fit: cover;
    object-position: top 10px;
    @include for-phone {
      width: 100% !important;
      height: auto !important;
    }
  }
  &-home-item {
    &-container {
      background: #ffffff;
      width: 300px;
      height: auto;
      top: 260.5px;
      left: 494.5px;
      border-radius: 1rem;
      padding: 1rem;
      transform: translate3d(0px, 0px, 0px) scale3d(1, 0.9999999999999999, 1)
        skew(0deg, 0deg);
      z-index: 2;
      margin-bottom: 1rem;
      @include for-phone {
        width: 100% !important;
        height: 40vh !important;
      }
    }
    &-image {
      width: 100%;
      border-radius: 1rem;
      height: auto;
      object-fit: cover;
      @include for-phone {
        width: 100vw !important;
        height: 25vh !important;
      }
    }
  }
}
.event-title:hover,
.event-category:hover {
  color: $primary-color;
  font-weight: 700;
}
.ant-image-preview-img {
  display: inline-block;
  margin: 0 auto;
}
/* Ribbon */
/*ribbon css */

.ribbon {
  position: absolute !important;
  top: -20px !important;
  left: 5px;
  scale: 0.5;
  margin: 3em;
  /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(
    center top,
    circle farthest-side,
    #ff0000 0%,
    #990000 100%
  );
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(
    center top,
    circle farthest-side,
    #ff0000 0%,
    #990000 100%
  );
  /* Opera */
  background-image: -o-radial-gradient(
    center top,
    circle farthest-side,
    #ff0000 0%,
    #990000 100%
  );
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(
    radial,
    center top,
    0,
    center top,
    487,
    color-stop(0, #ff0000),
    color-stop(1, #990000)
  );
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(
    center top,
    circle farthest-side,
    #ff0000 0%,
    #990000 100%
  );
  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(
    circle farthest-side at center top,
    #ff0000 0%,
    #990000 100%
  );
  width: 5em;
  height: 10em;
  position: relative;
  border-top-right-radius: 0.2em;
  border-top-left-radius: 0.2em;
  margin: auto;
  font-family: "Kite One", sans-serif;
}

.ribbon i {
  width: 90%;
  height: 120%;
  display: block;
  margin: auto;
  z-index: 100;
  position: relative;
  border-right: dashed 0.0625em #333;
  border-left: dashed 0.0625em #333;
  overflow: hidden;
}
i span {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 1.5rem;
  top: 50%;
  color: yellow;
  margin-top: -2em;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  position: relative;
  text-shadow: 0.0625em 0.0625em 0.0625em #333;
  font-style: normal;
  font-weight: bold;
}
s {
  width: 0.625em;
  height: 0.625em;
  background: #333;
  top: 50%;
  margin-top: -0.3125em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  display: block;
  position: absolute;
  opacity: 0.5;
}

s:nth-of-type(1) {
  margin-left: -1.25em;
  left: 0;
}
s:nth-of-type(2) {
  right: 0;
  margin-right: -1.25em;
}
.ribbon:before {
  content: "";
  position: absolute;
  bottom: -2.4em;
  left: 0;
  width: 0;
  height: 0;
  border-top: 2.5em solid #990000;
  border-right: 2.5em solid transparent;
}
.ribbon:after {
  content: "";
  position: absolute;
  bottom: -2.4em;
  right: 0;
  width: 0;
  height: 0;
  border-top: 2.5em solid #990000;
  border-left: 2.5em solid transparent;
}
