@import "./variables.scss";
@import "./mixin.scss";

/* alphabetical sort */
@import "./animation.scss";
@import "./calendar.scss";
@import "./carousel.scss";
@import "./editor.scss";
@import "./event.scss";
@import "./event-detail.scss";
@import "./footer.scss";
@import "./header.scss";
@import "./hero.scss";
@import "./home.scss";
@import "./loading.scss";
@import "./login.scss";
@import "./notfound.scss";
@import "./readmore.scss";
@import "./searchbox.scss";
@import "./user-profile.scss";
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import "~antd/dist/antd.min.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
