@import "./event.scss";
@import "./hero.scss";
@import "./variables.scss";
@import "./header.scss";
@import "./calendar.scss";
@import "./mixin.scss";
@import "./animation.scss";
@import "./login.scss";
@import "./home.scss";
@import "./carousel.scss";
@import "./footer.scss";
@import "./notfound.scss";
@import "./event-detail.scss";
@import "./loading.scss";
@import "./user-profile.scss";
body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.cursor {
  cursor: url("../assets/pointer.png"), auto;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
