.header {
  &-container {
    height: auto;
    min-height: 56px;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-auth {
    display: flex;
    justify-content: center;
    gap: 0 1rem;
    a {
      color: white !important;
      &:hover {
        color: $primary-color;
      }
    }
    &-avatar {
      cursor: pointer;
    }
  }
}
