.home {
  &-container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    .sider {
      display: block;
      padding: 1rem;
      padding-left: 0;
      height: auto;
      @include for-phone {
        display: none !important;
      }
      @include for-tablet {
        display: none !important;
      }
    }
  }
  &-content {
    position: relative;
    width: 100%;
  }
  &-popular {
    width: 100%;
    &-text {
      font-size: 4rem;
      @include for-phone {
        font-size: 2.5rem !important;
      }
    }
  }
}
.typo {
  font-weight: 800;
  color: $primary-color;
}
