.home {
  &-container {
    display: flex;
    justify-content: space-between;
    .sider {
      display: block;
      padding: 1rem;
      padding-left: 0;
      height: auto;
      @include for-phone {
        display: none !important;
      }
      @include for-tablet {
        display: none !important;
      }
    }
  }
  &-content {
    position: relative;
    width: 100%;
  }
  &-popular {
    width: 100%;
    &-text {
      font-size: 4rem;
      @include for-phone {
        font-size: 2.5rem !important;
      }
    }
    &-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0 0.1rem;
    }
  }
}
.typo {
  font-weight: 800;
  color: $primary-color;
}
.be-an-organization {
  background-image: linear-gradient(
    112.1deg,
    rgba(32, 38, 57, 1) 11.4%,
    rgba(63, 76, 119, 1) 70.2%
  );
}
