.login {
  &-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-image: url("../assets/login-background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-form {
    width: 500px;
    height: auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.616);
    button {
      background: $primary-color;
      padding: 1rem;
      color: white;
      font-weight: 700;
      font-size: 1.2rem;
      border-radius: 5px;
      &:hover {
        filter: brightness(80%);
      }
    }
    input {
      font-family: Verdana;
    }
    input[type="password"] {
      font-family: Verdana;
      letter-spacing: 0.125em;
    }
  }
  &-title {
    font-size: 2rem;
    color: white;
    font-weight: bold;
  }
  &-google {
    border-radius: 5px;
    span {
      font-weight: 700;
    }
  }
}
.error-message {
  color: red;
  font-style: italic;
  font-size: 1rem;
}
