.organization {
  &-container {
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    h1 {
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      width: 100%;
    }
  }
  &-register {
    width: 100vw;
  }
}
.facebook,
.instagram {
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 5px;
}
.facebook:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: -moz-linear-gradient(top, #3b5998, #2b4170);
  background: -ms-linear-gradient(top, #3b5998, #2b4170);
  background: -webkit-linear-gradient(top, #3b5998, #2b4170);
}
.instagram:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
