.auth {
  &-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding-right: 3rem;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: linear-gradient(53deg, #000000 0%, $primary-color 100%);
  }
  &-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-form {
    width: 500px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    border-radius: 5px;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
      12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
      41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
      100px 100px 80px rgba(0, 0, 0, 0.07);

    /*button {
        background: $primary-color;
        padding: 0.5rem;
        color: white;
        font-weight: 700;
        font-size: 1.2rem;
        border-radius: 5px;
        &:hover {
          filter: brightness(80%);
        }
      }*/
    &-forget-password {
      position: absolute;
      left: 50%;
      margin-top: 1rem;
      transform: translateX(-50%);
      font-weight: 700;
    }
    input {
      font-family: Verdana;
    }
    input[type="password"] {
      font-family: Verdana;
      letter-spacing: 0.125em;
    }
  }
  &-title {
    font-size: 2rem;
    color: $primary-color;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  &-google {
    border-radius: 5px;
    span {
      font-weight: 700;
    }
  }
}
.error-message {
  color: red;
  font-style: italic;
  font-size: 1rem;
}
.PhoneInputInput {
  outline: none !important;
}
.otp-input {
  border-radius: 5px;
  padding: 0.2rem;
  border: 1px solid gray;
}
@keyframes slide {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    transform: scale(1.2);
  }
}
.otp-group {
  display: flex;
  width: 100%;
  max-width: 360px;
  column-gap: 10px;
}

.otp-input {
  width: 100%;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
}
.otp-modal {
  &__body {
    font-size: 1.125rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input-container {
    width: 100%;
    font-weight: 700;
    font-size: 2rem;
    > div {
      width: 25%;

      > input:focus {
        outline: none;
      }
    }
  }

  &__input {
    width: 100%;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $primary-color;
  }

  &__resend {
    color: rgb(9, 255, 0);
  }

  &__countdown-resend {
    width: 100%;
  }

  &__btn {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    &--disabled {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &__error-message {
    font-size: 0.875rem;
    text-align: center;
    background: red;
    margin-top: 0.75rem;
    width: 100%;
  }
}
.bg {
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #002035 0%, #1f3e82 100%);
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
