@import "./variables.scss";
@import "./auth.scss";
@import "./loading.scss";
@import "./login.scss";
@import "./user-profile.scss";
@import "./upload.scss";

@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 400;
  src: local("SVN-Gilroy"),
    url(../assets/fonts/Gilroy/SVN-Gilroy-Regular.otf) format("opentype");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 500;
  src: local("SVN-Gilroy"),
    url(../assets/fonts/Gilroy/SVN-Gilroy-Medium.otf) format("opentype");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 600;
  src: local("SVN-Gilroy"),
    url(../assets/fonts/Gilroy/SVN-Gilroy-SemiBold.otf) format("opentype");
}
@font-face {
  font-family: "SVN-Gilroy";
  font-weight: 700;
  src: local("SVN-Gilroy"),
    url(../assets/fonts/Gilroy/SVN-Gilroy-Bold.otf) format("opentype");
}
* {
  font-family: SVN-Gilroy, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: FS PFBeauSansPro, sans-serif;
}
.secondary-button {
  width: 100%;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  z-index: 10;
  border-radius: 0.25rem;
}
.ant-select-selector {
  height: 2.5rem !important;
}
.primary-button {
  width: 100%;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(
    53deg,
    rgba(31, 62, 130, 1) 0%,
    rgba(0, 39, 125, 1) 100%
  ) !important;
  border-radius: 0.25rem;
  z-index: 10;
  color: white;
}
.error-message {
  color: red;
  font-style: italic;
  font-size: 1rem;
}
.ant-image-preview-img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  transform: scaleX(1);
  margin: 0 auto;
  cursor: grab;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: auto;
  transform: scale3d(1, 1, 1) rotate(0deg) translate(0px, -256px);
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  height: 2.5rem !important;
  border-radius: 2px !important;
  &:hover {
    border: 1px solid rgb(117, 186, 242) !important;
    outline: none !important;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
