@import "./variables.scss";
@import "./auth.scss";
@import "./loading.scss";
@import "./login.scss";
@import "./user-profile.scss";
@import "./upload.scss";

* {
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.secondary-button {
  width: 100%;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  z-index: 10;
  border-radius: 0.25rem;
}
.ant-select-selector {
  height: 2.5rem !important;
}
.primary-button {
  width: 100%;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(
    53deg,
    rgba(31, 62, 130, 1) 0%,
    rgba(0, 39, 125, 1) 100%
  ) !important;
  border-radius: 0.25rem;
  z-index: 10;
  color: white;
}
.error-message {
  color: red;
  font-style: italic;
  font-size: 1rem;
}
.ant-image-preview-img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  transform: scaleX(1);
  margin: 0 auto;
  cursor: grab;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: auto;
  transform: scale3d(1, 1, 1) rotate(0deg) translate(0px, -256px);
}
.ant-btn.ant-btn-primary.ant-btn-sm {
  border-color: $primary-color !important;
  background: $primary-color !important;
}
.ant-picker {
  height: 2.5rem !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

.gradient-button {
  background-color: #4caf50; /* Màu nền của nút */
  color: white; /* Màu chữ của nút */
  border: none; /* Bỏ viền của nút */
  padding: 0.5rem; /* Khoảng cách giữa nội dung của nút và viền của nút */
  font-size: 16px; /* Cỡ chữ của nút */
  margin-bottom: 0.5rem;
  border-radius: 5px; /* Đường cong của góc nút */
  position: relative; /* Tạo một không gian tương đối cho phần tử con */
  background: linear-gradient(to right, #4caf50 0%, #2e8b57 100%);
}
.gradient-button:hover {
  opacity: 0.5; /* Giảm độ trong suốt của phần tử con khi nút được bấm */
}
